<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration scan="true" scanPeriod="10 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- 按照大小切割日志, 保留一定的数量 -->
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/info.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/info.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过30MB归档 -->
            <maxFileSize>60MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <!-- 按照大小切割日志, 保留一定的数量 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <File>logs/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/error.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过30MB归档 -->
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="huihuang.proxy" level="INFO" additivity="true">
    </logger>
    <root level="INFO">
        <appender-ref ref="INFO_FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>


    <!-- 西瓜视频 start -->
    <appender name="XIGUA_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/xigua/xigua.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/xigua/xigua.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.WifiXiguaChannelAds" level="INFO" additivity="true">
        <appender-ref ref="XIGUA_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.WifiXiguaServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="XIGUA_LOG"/>
    </logger>

    <!-- 西瓜视频 end -->


    <!-- 京东 start -->
    <appender name="LTJD_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/ltjd/ltjd.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/ltjd/ltjd.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="huihuang.proxy.ocpx.middle.impl.XiaomiJingdongChannelAds" level="INFO" additivity="true">
        <appender-ref ref="LTJD_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.XiaomiJingdongServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="LTJD_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.middle.impl.BaiduLtjdChannelAds" level="INFO" additivity="true">
        <appender-ref ref="LTJD_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.BaiduLtjdServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="LTJD_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.middle.impl.BdssLtjdChannelAds" level="INFO" additivity="true">
        <appender-ref ref="LTJD_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.BdssLtjdServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="LTJD_LOG"/>
    </logger>

    <!-- 京东 end -->

    <!-- 京东搜索 start -->
    <appender name="JDSS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/jdss/jdss.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/jdss/jdss.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="huihuang.proxy.ocpx.middle.impl.BaiduJdssChannelAds" level="INFO" additivity="true">
        <appender-ref ref="JDSS_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.BaiduJdssServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="JDSS_LOG"/>
    </logger>

    <!-- 京东搜索 end -->

    <!-- 优酷 start -->
    <appender name="YOUKU_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/youku/youku.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/youku/youku.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.XiaomiYoukuChannelAds" level="INFO" additivity="true">
        <appender-ref ref="YOUKU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.XiaomiYoukuServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="YOUKU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.middle.impl.BaiduYoukuChannelAds" level="INFO" additivity="true">
        <appender-ref ref="YOUKU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.BaiduYoukuServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="YOUKU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.middle.impl.HuaweiYoukuChannelAds" level="INFO" additivity="true">
        <appender-ref ref="YOUKU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.HuaweiYoukuServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="YOUKU_LOG"/>
    </logger>


    <!-- 优酷 end -->


    <!-- 快手 start -->
    <appender name="KUAISHOU_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/kuaishou/kuaishou.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/kuaishou/kuaishou.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.XiaomiKuaishouChannelAds" level="INFO" additivity="true">
        <appender-ref ref="KUAISHOU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.XiaomiKuaishouServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="KUAISHOU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.middle.impl.HuaweiKuaishouChannelAds" level="INFO" additivity="true">
        <appender-ref ref="KUAISHOU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.HuaweiKuaishouServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="KUAISHOU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.middle.impl.OppoKuaishouChannelAds" level="INFO" additivity="true">
        <appender-ref ref="KUAISHOU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.OppoKuaishouServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="KUAISHOU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.middle.impl.BaiduKuaishouChannelAds" level="INFO" additivity="true">
        <appender-ref ref="KUAISHOU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.BaiduKuaishouServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="KUAISHOU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.middle.impl.IQiyiKuaishouChannelAds" level="INFO" additivity="true">
        <appender-ref ref="KUAISHOU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.IQiyiKuaishouServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="KUAISHOU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.middle.impl.BdssKuaishouChannelAds" level="INFO" additivity="true">
        <appender-ref ref="KUAISHOU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.BdssKuaishouServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="KUAISHOU_LOG"/>
    </logger>

    <!-- 快手 end -->


    <!-- 天猫 start -->
    <appender name="TIANMAO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/tianmao/tianmao.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/tianmao/tianmao.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.BaiduTianmaoChannelAds" level="INFO" additivity="true">
        <appender-ref ref="TIANMAO_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.BaiduTianmaoServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="TIANMAO_LOG"/>
    </logger>

    <!-- 天猫 end -->


    <!-- 番茄 start -->
    <appender name="FANQIE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/fanqie/fanqie.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/fanqie/fanqie.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.BaiduFanqieChannelAds" level="INFO" additivity="true">
        <appender-ref ref="FANQIE_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.BaiduFanqieServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="FANQIE_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.middle.impl.WifiFanqieChannelAds" level="INFO" additivity="true">
        <appender-ref ref="FANQIE_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.WifiFanqieServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="FANQIE_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.middle.impl.HuaweiFanqieChannelAds" level="INFO" additivity="true">
        <appender-ref ref="FANQIE_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.HuaweiFanqieServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="FANQIE_LOG"/>
    </logger>


    <!-- 番茄 end -->


    <!-- 京东金融 start -->
    <appender name="JINGDONGJINRONG_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/jdjr/jdjr.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/jdjr/jdjr.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.BaiduJdjrChannelAds" level="INFO" additivity="true">
        <appender-ref ref="JINGDONGJINRONG_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.BaiduJdjrServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="JINGDONGJINRONG_LOG"/>
    </logger>


    <!-- 京东金融 end -->


    <!-- 小红书 start -->
    <appender name="XIAOHONGSHU_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/xiaohongshu/xiaohongshu.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/xiaohongshu/xiaohongshu.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.XiaomiXiaohongshuChannelAds" level="INFO" additivity="true">
        <appender-ref ref="XIAOHONGSHU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.XiaomiXiaohongshuServiceImpl" level="INFO"
            additivity="true">
        <appender-ref ref="XIAOHONGSHU_LOG"/>
    </logger>

    <!-- 小红书 end -->


    <!-- 心遇 start -->
    <appender name="XINYU_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/xinyu/xinyu.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/xinyu/xinyu.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.XiaomiXiaohongshuChannelAds" level="INFO" additivity="true">
        <appender-ref ref="XINYU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.XiaomiXinyuServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="XINYU_LOG"/>
    </logger>

    <!-- 心遇 end -->


    <!-- 探探 start -->
    <appender name="TANTAN_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/tantan/tantan.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/tantan/tantan.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.XiaomiTantanChannelAds" level="INFO" additivity="true">
        <appender-ref ref="TANTAN_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.XiaomiTantanServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="TANTAN_LOG"/>
    </logger>

    <!-- 探探 end -->


    <!-- liangdamao start -->
    <appender name="LIANGDAMAO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/liangdamao/liangdamao.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/liangdamao/liangdamao.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.ads2channel.service.impl.LiangdamaoServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="LIANGDAMAO_LOG"/>
    </logger>
    <!-- liangdamao end -->


    <!-- 辉煌 start -->
    <appender name="HUIHUANG_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/huihuang/huihuang.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/huihuang/huihuang.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.HuaweiHuihuangChannelAds" level="INFO" additivity="true">
        <appender-ref ref="HUIHUANG_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.HuaweiHuihuangServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="HUIHUANG_LOG"/>
    </logger>

    <!-- 辉煌 end -->


    <!-- 懂车帝 start -->
    <appender name="DONGCHEDI_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/dongchedi/dongchedi.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/dongchedi/dongchedi.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.BaiduDongchediChannelAds" level="INFO" additivity="true">
        <appender-ref ref="DONGCHEDI_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.BaiduDongchediServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="DONGCHEDI_LOG"/>
    </logger>

    <logger name="huihuang.proxy.ocpx.middle.impl.XiaomiDongchediChannelAds" level="INFO" additivity="true">
        <appender-ref ref="DONGCHEDI_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.XiaomiDongchediServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="DONGCHEDI_LOG"/>
    </logger>

    <!-- 懂车帝 end -->


    <!-- 心遇-有道 start -->
    <appender name="XINYUYOUDAO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/xinyuyoudao/xinyuyoudao.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/xinyuyoudao/xinyuyoudao.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.XiaomiXinyuYoudaoChannelAds" level="INFO" additivity="true">
        <appender-ref ref="XINYUYOUDAO_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.XiaomiXinyuYoudaoServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="XINYUYOUDAO_LOG"/>
    </logger>

    <!-- 心遇-有道 end -->


    <!-- 闲鱼 start -->
    <appender name="XIANYU_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/xianyu/xianyu.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/xianyu/xianyu.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.BaiduXianyuChannelAds" level="INFO" additivity="true">
        <appender-ref ref="XIANYU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.BaiduXianyuServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="XIANYU_LOG"/>
    </logger>

    <logger name="huihuang.proxy.ocpx.middle.impl.HuaweiXianyuChannelAds" level="INFO" additivity="true">
        <appender-ref ref="XIANYU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.HuaweiXianyuServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="XIANYU_LOG"/>
    </logger>

    <logger name="huihuang.proxy.ocpx.middle.impl.XiaomiXianyuChannelAds" level="INFO" additivity="true">
        <appender-ref ref="XIANYU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.XiaomiXianyuServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="XIANYU_LOG"/>
    </logger>

    <!-- 闲鱼 end -->


    <!-- 途虎 start -->
    <appender name="TUHU_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/tuhu/tuhu.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/tuhu/tuhu.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.HuaweiTuhuChannelAds" level="INFO" additivity="true">
        <appender-ref ref="TUHU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.HuaweiTuhuServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="TUHU_LOG"/>
    </logger>

    <!-- 途虎 end -->


    <!-- 点淘 start -->
    <appender name="DAINTAO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/diantao/diantao.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/diantao/diantao.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.HuaweiDiantaoChannelAds" level="INFO" additivity="true">
        <appender-ref ref="DAINTAO_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.HuaweiDiantaoServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="DAINTAO_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.middle.impl.BaiduDiantaoChannelAds" level="INFO" additivity="true">
        <appender-ref ref="DAINTAO_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.BaiduDiantaoServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="DAINTAO_LOG"/>
    </logger>

    <!-- 点淘 end -->


    <!-- 番茄小说（全能互动） start -->
    <appender name="QUANNENG_FANQIE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/quannengFanqie/quannengFanqie.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/quannengFanqie/quannengFanqie.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.HuaweiQuannengFanqieChannelAds" level="INFO" additivity="true">
        <appender-ref ref="QUANNENG_FANQIE_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.HuaweiFanqieServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="QUANNENG_FANQIE_LOG"/>
    </logger>

    <logger name="huihuang.proxy.ocpx.middle.impl.XiaomiQuannengFanqieChannelAds" level="INFO" additivity="true">
        <appender-ref ref="QUANNENG_FANQIE_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.XiaomiXianyuServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="QUANNENG_FANQIE_LOG"/>
    </logger>

    <!-- 番茄小说（全能互动） end -->

    <!-- 抖音极速（全能互动） start -->
    <appender name="QUANNENG_DOUYINJISU_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/quannengDouyinjisu/quannengDouyinjisu.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/quannengDouyinjisu/quannengDouyinjisu.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.HuaweiQuannengDouyinjisuChannelAds" level="INFO" additivity="true">
        <appender-ref ref="QUANNENG_DOUYINJISU_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.HuaweiQuannengDouyinjisuServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="QUANNENG_DOUYINJISU_LOG"/>
    </logger>

    <!-- 抖音极速（全能互动） end -->

    <!-- 西瓜视频（全能互动） start -->
    <appender name="QUANNENG_XIGUAVIDEO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/quannengXiguaVideo/quannengXiguaVideo.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/quannengXiguaVideo/quannengXiguaVideo.log.%i</fileNamePattern>
            <!-- 索引最小值，标识%i从1开始 -->
            <minIndex>1</minIndex>
            <!-- 索引最大值，标识%i到5结束，始终保留了5个归档文件 -->
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!-- 文件大小超过1GB归档 -->
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%-5L] - %msg%n</Pattern>
        </layout>
    </appender>


    <logger name="huihuang.proxy.ocpx.middle.impl.HuaweiQuannengXiguaVideoChannelAds" level="INFO" additivity="true">
        <appender-ref ref="QUANNENG_XIGUAVIDEO_LOG"/>
    </logger>
    <logger name="huihuang.proxy.ocpx.bussiness.service.impl.HuaweiQuannengXiguaVideoServiceImpl" level="INFO" additivity="true">
        <appender-ref ref="QUANNENG_XIGUAVIDEO_LOG"/>
    </logger>

    <!-- 西瓜视频（全能互动） end -->


</configuration>